.App {
  text-align: center;
}

.video-capture button {
  padding: 5px 10px;
  background: blue;
  color: #fff;
  font-size: 1em;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 2.5em;
}
