.container {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.video-capture,
.snapshot-image {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.snapshot-image > * {
  flex: 1;
  max-width: 900px;
  width: 100%;
  height: 700px;
  background-size: contain;
}

.video-capture button {
  padding: 5px 10px;
  background: blue;
  color: #fff;
  font-size: 1em;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin: 2.5em 0;
  outline: 0;
}

.error {
  color: red;
}
